name: Main workflow

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 0 * * 5"

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Install asdf
        run: git clone https://github.com/asdf-vm/asdf.git $HOME/asdf

      - name: Install direnv and print version
        run: |
          . $HOME/asdf/asdf.sh
          asdf plugin-add direnv $GITHUB_WORKSPACE
          asdf install direnv latest
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
        direnv: [2.20.0]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: macOS coreutils # needed by bats-core
        if: matrix.os == 'macOS-latest'
        run: brew install coreutils

      - name: Install bats
        run: |
          git clone https://github.com/bats-core/bats-core.git $HOME/bats-core

      - name: Install asdf
        run: |
          git clone https://github.com/asdf-vm/asdf.git $HOME/asdf

      - name: Run tests
        run: |
          export PATH=$HOME/bats-core/bin:$HOME/asdf/bin:$PATH
          asdf plugin-add direnv $GITHUB_WORKSPACE
          asdf install direnv ${{ matrix.direnv }}
          asdf global direnv ${{ matrix.direnv }}
          bats test
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: macOS-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Install shellcheck
        run: brew install shellcheck

      - name: Run ShellCheck
        run: |
          shellcheck bin/*
          shellcheck shims/*

  format:
    runs-on: macOS-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Install shfmt
        run: brew install shfmt

      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
